PORT=5000

MONGO_URI=mongodb+srv://ramkrishna:ram123@rkt-1.elxjngg.mongodb.net/order_processing?retryWrites=true&w=majority

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

EXTERNAL_API_URL=http://localhost:7000/api/process